<div class="row pt-3">

  <div class="card-body card mat-elevation-z8">
    <form [formGroup]="reg_form" (ngSubmit)="onRegister()">
      <div class="pt-3">

        <h3 class="header-3 pull-right">Sign Up</h3>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <mat-form-field>
            <input matInput placeholder="User Name" formControlName="firstname" name="name" (keypress)="masterSerObj.restrictNumeric($event)"
              maxlength="20" required>
            <mat-error>
              <span *ngIf="reg_form.get('firstname').errors?.required">
                First name is required.
              </span>
              <span *ngIf="reg_form.get('firstname').errors?.pattern">
                Please enter valid firstname
              </span>
              <span *ngIf="reg_form.get('firstname').errors?.minlength">
                min length 2
              </span>
            </mat-error>
          </mat-form-field>

        </div>

        <div class="col-sm-12 ">
          <mat-form-field>
            <input matInput placeholder="Email" maxlength="50" formControlName="email" name="email" required>
            <!-- (blur)="onEmailGiven($event)" -->
            <span matSuffix>
              <i class="fa fa-envelope "></i>
            </span>
            <mat-error>
              <span *ngIf="emailexist === true">Email already exists</span>
              <span *ngIf="reg_form.get('email').errors?.required">
                Email is required.
              </span>
              <span *ngIf="reg_form.get('email').errors?.pattern">
                Please enter Valid Email .
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 ">
          <mat-form-field>
            <input matInput type="password" maxlength="25" placeholder="Password" name="password" formControlName="password" required>
            <span matSuffix>
              <i class="fa fa-lock"></i>
            </span>

            <mat-error>
              <span *ngIf="reg_form.get('password').errors?.required">
                Password is required.
              </span>
              <span *ngIf="reg_form.get('password').errors?.pattern">
                password should consist capital letter,special character
              </span>
              <span *ngIf="reg_form.get('password').errors?.minlength">
                Password should have min of 6 characters
              </span>
              <span *ngIf="reg_form.get('password').errors?.maxlength">
                Password should have max length of 25
              </span>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-12 ">
          <mat-form-field>
            <input matInput type="password" maxlength="25" placeholder="Confirm password" formControlName="confirmPassword" required>
            <span matSuffix>
              <i class="fa fa-lock "></i>
            </span>
            <mat-error>
              <span *ngIf="reg_form.get('confirmPassword').errors?.required">
                Confirm Password is required.
              </span>
              <span *ngIf="reg_form.get('confirmPassword').dirty && reg_form.get('confirmPassword').errors?.pattern">
                Please enter valid Password
              </span>
              <!-- <span *ngIf="reg_form.hasError('mismatchedPasswords')">
                          Entered password is not matching
                        </span> -->
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-12  text-center">
          <!-- <span class="alert" style="color: red" *ngIf="btnSubmit && !reg_form.valid && !reg_form.get('confirmPassword').dirty ">
                      Please enter mandatory fields
                    </span> -->
          <span class="alert" style="color: red" *ngIf="btnSubmit && 
                    reg_form.hasError('mismatchedPasswords')">
            Entered passwords are not matching
          </span>
        </div>
        <div class="col-sm-12 ">
          <div class="form-inline">
            <mat-checkbox [(ngModel)]="checked" class="pt-0" [ngModelOptions]="{standalone: true}">
              <p class="form-group terms">
                By creating an account, you agree to our
                <u>
                  <a href="javascript:void(0)"> Terms of Use </a>
                </u>
                and our
                <u>
                  <a href="javascript:void(0)"> Privacy Policy </a>
                </u>
                .
              </p>
            </mat-checkbox>
          </div>
        </div>
        <div class="col-sm-12 p-2 text-center">
          <button type="button" class="btn btn-md btn-primary" (click)="dialogRef.close()">Close</button>
          <button id="signupSubmit" type="submit" class="btn btn-md btn-primary">Register</button>
        </div>

        <!-- <div class="col-sm-12">
            <div class="text-center">
              <mat-divider></mat-divider>
              <div class="options">
                <p>Already have an account?
                  <u>
                    <a (click)="gotoLogin()">Sign in</a>
                  </u>
                </p>
              </div>
            </div>
          </div> -->
      </div>
    </form>
  </div>

</div>
